<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alfardev.dipinjamin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dipinjamin.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.search.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.Dipinjamin.NoActionBar.NoActionBar"></activity>
        <activity
            android:name=".ui.books.BookActivity"
            android:label="@string/title_activity_book"
            android:theme="@style/Theme.Dipinjamin.NoActionBar" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.Dipinjamin.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Dipinjamin.NoActionBar" />
        <activity android:name=".ui.create_update_book.CreateUpdateBookActivity" />
        <activity android:name=".ui.orders.OrderActivity" />
        <activity
            android:name=".ui.detail_book.DetailBookActivity"
            android:label="@string/title_activity_detail_book"
            android:theme="@style/Theme.Dipinjamin.NoActionBar" />
        <activity
            android:name=".ui.fragments.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".utils.fcm_service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>